.main {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 35%;
  margin-top: 50px;
  border-radius: 10px;
  background-color: rgb(243, 233, 220);
  box-shadow: 0 4px 8px 0 rgba(47, 2, 151, 0.19),
    0 6px 20px 0 rgba(47, 2, 151, 0.19);
  padding: 20px;
}
.main h1 {
  font-size: 28pt;
  font-weight: 600;
  margin-bottom: 10px;
}

.main h6 {
  text-align: right;
  margin-top: 0px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main p {
  margin-bottom: 12px;
}

.main input {
  height: 50px;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 14px;
  padding-left: 20px;
  background-color: rgb(218, 216, 216);
}

.main button {
  height: 50px;
  border: 0px;
  font-size: 17pt;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  margin-bottom: 14px;
  margin-top: 15px;
  background-color: rgb(154, 164, 253);
}
